#text-container
  p Livre will be a network of free ideas!
  p The project is under active and intense development. Check out the documentation at docs.livre.media

  p.text-start Cat ipsum dolor sit amet, tuxedo cats always looking dapper or fall over dead (not really but gets sympathy) paw at beetle and eat it before it gets away.
  p.text-center Cat ipsum dolor sit amet, tuxedo cats always looking dapper or fall over dead (not really but gets sympathy) paw at beetle and eat it before it gets away.
  p.text-end Cat ipsum dolor sit amet, tuxedo cats always looking dapper or fall over dead (not really but gets sympathy) paw at beetle and eat it before it gets away.
  p.text-justify Cat ipsum dolor sit amet, tuxedo cats always looking dapper or fall over dead (not really but gets sympathy) paw at beetle and eat it before it gets away.
  p.text-justify-all Cat ipsum dolor sit amet, tuxedo cats always looking dapper or fall over dead (not really but gets sympathy) paw at beetle and eat it before it gets away.

  .justify-start.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box

  .justify-center.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box

  .justify-end.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box

  .justify-space-between.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box

  .justify-space-around.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box

  .justify-space-evenly.row.wrap
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
    .test-box
